/* You can add global styles to this file, and also import other style files */
#themecolors a {
    cursor: pointer;
}



dialog {
    visibility: hidden;
    transform: scale(0.1);
    transition: transform 200ms;
}

dialog.dialog-scale {
    visibility: visible;
    transform: scale(1);
}


.pointer {

    cursor: pointer;

}